.container {
  background-color: var(--colors-base100);
  border: 1px solid #B6D5F5;
  border-radius: var(--radii-cornerRadius);
  margin-top: 24;
  margin-bottom: 24;
  overflow: hidden;
}
.variantWarn.container {
  background-color: #fffce8;
  border-color: #E5DB97;
}
.variantAlert.container {
  background-color: #ffeded;
  border-color: #E1B9B9;
}

.caption {
  border-left: 8px solid var(--colors-accentB);
  color: var(--colors-base40);
  font-size: 12;
  font-weight: 700;
  padding: 4px 16px;
}
.variantWarn .caption {
  border-left-color: var(--colors-accentY);
}
.variantAlert .caption {
  border-left-color: var(--colors-accentR);
  color: var(--colors-accentR);
}

.body {
  padding: 12px 24px 24px;
  & > :where(p, ol, ul) + :where(p, ol, ul) {
    margin-top: 16px;
  }
}

.cite {
  font-style: normal;
}
