---
import imgLogoSmall from 'images/logo-small.svg'
import imgLogo from 'images/logo.svg'
import Shell from 'layouts/Shell.astro'
---

<Shell canonicalPath="">
  <main>
    <div>
      <figure>
        <picture>
          <source media="(max-width: 414px)" srcset={imgLogoSmall.src} />
          <img alt="ALATTA" class="mainimg" src={imgLogo.src} />
        </picture>
        <figcaption>ALATTA</figcaption>
      </figure>
      <nav>
        <dl>
          <div>
            <dt>library</dt>
            <dd>
              <a href="https://www.npmjs.com/package/k-popo" rel="noreferrer" target="_blank">k-popo</a>
            </dd>
          </div>
          <div>
            <dt>experiment</dt>
            <dd>
              <a href="https://dialog98.sorto.me/" rel="noreferrer" target="_blank">dialog98</a>
            </dd>
          </div>
          <div>
            <dt>contents</dt>
            <dd>
              <a href="/posts">blog</a>
              <a href="/docs">docs</a>
            </dd>
          </div>
          <div>
            <dt>contact</dt>
            <dd>
              <a href="https://github.com/alattalatta" rel="noreferrer" target="_blank">github</a>
              <a href="mailto:alattalatta@sorto.me">@sorto.me</a>
            </dd>
          </div>
        </dl>
      </nav>
    </div>
  </main>
</Shell>

<style>
  main {
    min-height: 100vh;
    min-height: 100dvh;

    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: var(--display);
    padding: 1rem;
    position: relative;
  }

  figure {
    margin: 0;
    text-align: right;
  }
  img {
    width: 100%;
  }
  .mainimg {
    width: 40rem;
    max-width: 100%;
    display: block;
  }
  .mainimg-s {
    display: none;
  }
  figcaption {
    margin-top: 0.5rem;
  }

  nav {
    width: 100%;
    margin-top: 0.5rem;
  }

  dl {
    display: grid;
    grid-template-columns: [dt] max-content [dd] auto;
    margin: 0;
  }
  dl > div {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: subgrid;
  }
  dt {
    font-weight: 400;
    grid-column: dt;
  }
  dt ~ dt {
    margin-top: 1rem;
  }
  dd {
    width: min-content;

    display: flex;
    flex-direction: column;
    grid-column: dd;

    margin: 0;
    white-space: nowrap;
  }

  a {
    padding: 0.25rem 1rem;
  }
</style>
