// [warn] next-mdx-remote adds a <div /> while hydrating
// when using direct children selectors, this must be considered
@function child($selector) {
  @return '& > div:not([class]) > #{$selector}, & > #{$selector}';
}

.wrap {
  font-family: 'Nanum Gothic', sans-serif;

  #{child("* + *")} {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  #{child("p")} {
    line-height: 1.75;
  }

  #{child("img")},
  #{child("p")} > img {
    max-width: 100%;
    display: 'block';
  }

  & a {
    color: var(--colors-linkblueDark);

    &:hover {
      color: var(--colors-accentB);
    }
  }

  & code:not(pre > code) {
    background-color: rgba(#000, 0.05);
    border-radius: 4px;
    display: inline-block;
    padding-right: 4px;
    padding-left: 4px;
    text-decoration-line: inherit;
  }

  & li + li {
    margin-top: 8px;
  }
}

.headingAnchor {
  color: var(--colors-linkblueDark);
  display: inline-block;
  margin-left: 6px;
  opacity: 0;
  text-decoration: none;
}

%heading {
  color: var(--colors-base40);
  &:hover .headingAnchor {
    opacity: 1;
  }
}
.heading2 {
  @extend %heading;
  border-bottom: 1px solid var(--colors-base40);
  font-size: 28px;
  margin-top: 36px;
  margin-bottom: 28px;
  padding-bottom: 9px;
}
.heading3 {
  @extend %heading;
  font-size: 24px;
  margin-top: 28px;
  margin-bottom: 24px;
}
.heading4 {
  @extend %heading;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}
