// [warn] next-mdx-remote adds a <div /> while hydrating
// when using direct children selectors, this must be considered
@function child($selector) {
  @return '& > div:not([class]) > #{$selector}, & > #{$selector}';
}

.wrap {
  font-family: var(--fonts-sans);
  line-height: 1.75;

  #{child("* + *")} {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #{child("dt")} {
    font-weight: 700;
    margin-top: 20px;
  }

  & code:not(pre > code) {
    background-color: rgba(#000, 0.05);
    border-radius: 4px;
    display: inline-block;
    line-height: 1;
    padding: 3px;
    text-decoration-line: inherit;
  }

  dd {
    margin-left: 24px;

    & p,
    & ul {
      margin-bottom: 8px;
    }
  }

  dt {
    font-weight: 700;
  }

  dt + dd {
    margin-top: 8px;
  }

  dd + dt {
    margin-top: 16px;
  }

  hr {
    max-width: 300px;
    border: none;
    border-top: 1px dashed var(--colors-base60);
    margin: 36px 0;
    opacity: 0.6;
  }

  img {
    max-width: 100%;
    display: 'block';
  }

  li + li {
    margin-top: 8px;
  }
}

.headingAnchor {
  color: var(--colors-linkblueDark);
  display: inline-block;
  margin-left: 6px;
  opacity: 0;
  text-decoration: none;
}

%heading {
  color: var(--colors-base40);
  &:hover .headingAnchor {
    opacity: 1;
  }
}
.heading2 {
  @extend %heading;
  border-bottom: 1px solid var(--colors-base60);
  font-size: 28px;
  margin-top: 40px;
  padding-bottom: 9px;
}
.heading3 {
  @extend %heading;
  font-size: 24px;
  margin-top: 32px;
}
.heading4 {
  @extend %heading;
  font-size: 18px;
  margin-top: 28px;
}

.table {
  border: 1px solid;
  border-collapse: collapse;
  border-radius: var(--radii-cornerRadius);
  overflow: hidden;

  thead {
    border-bottom: 3px double var(--colors-base70);
  }

  th {
    background: var(--colors-base90);
    font-weight: 700;
    text-align: left;
  }

  th,
  td {
    border: 1px solid var(--colors-base70);
    padding: 8px 16px;
  }

  td {
    background: var(--colors-base100);
  }
}
