<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" />
    <meta content="width=device-width" name="viewport" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global> * { box-sizing: border-box; } body { margin: 0; overflow-x: hidden; } </style>
