pre > .code {
  background: #f6f6f6;
  border: 1px solid #b6d5f5;
  border-radius: var(--radii-cornerRadius);
  color: var(--colors-base40);
  display: block;
  overflow-x: auto;
  position: relative;

  &.bad,
  &.good {
    border-left-style: solid;
    border-left-width: 4px;

  }
  &.bad {
    border-color: #de9797;
    border-left-color: #f36868;
  }
  &.good {
    border-color: #7fbf7f;
    border-left-color: #74c162;
  }
  &[hidden],
  &[data-codeblock-sub=true] {
    display: none;
    visibility: hidden;
  }

  &.bad::before,
  &.good::before {
    content: attr(title);
    background: var(--colors-base90);
    border: 1px solid var(--colors-base70);
    border-radius: 0 0 var(--radii-cornerRadius) var(--radii-cornerRadius);
    font-family: var(--fonts-sans);
    font-size: 12px;
    padding: 4px 8px;
    position: absolute;
    top: -1px;
    right: 16px;
    z-index: 2;
  }
  &.bad::before {
    background-color: #ffeded;
    border-color: #de9797;
  }
  &.good::before {
    background-color: #edffe6;
    border-color: #7fbf7f;
  }
}

pre .codeBody {
  direction: ltr;
  display: inline-block;
  font-size: 14px;
  hyphens: none;
  line-height: 19px;
  padding: 24px;
  tab-size: 2;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;

  .bad > &,
  .good > & {
    padding-left: 21px;
  }
}
