* {
  box-sizing: border-box;
  text-underline-position: under;
}

html {
  color: var(--colors-fg);
  font-family: var(--fonts-sans);
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  margin: 0;
}
