.hljs-comment {
  color: var(--stx-comment);
}

.hljs-attribute,
.hljs-keyword {
  color: var(--stx-keyword);
}

.hljs-regexp,
.hljs-string,
.hljs-selector-class {
  color: var(--stx-string);
}

.hljs-built_in,
.hljs-name,
.hljs-number,
.hljs-selector-tag,
.hljs-template-tag,
.hljs-type {
  color: var(--stx-tag);
}