---
import Shell from '../layouts/Shell.astro'
---

<Shell title="sorto.me">
  <main>
    <figure>
      <img alt="" src="logo.svg" />
      <figcaption>ALATTA</figcaption>
    </figure>
    <nav>
      <dl>
        <dt>library</dt>
        <dd>
          <a href="https://www.npmjs.com/package/k-popo" rel="noreferrer" target="_blank">k-popo</a>
        </dd>
        <dt>experiment</dt>
        <dd>
          <a href="https://dialog98.sorto.me/" rel="noreferrer" target="_blank">dialog98</a>
        </dd>
        <dt>articles</dt>
        <dd>
          <a href="/posts">blog</a>
          <a href="/docs/Web">docs</a>
        </dd>
        <dt>contact</dt>
        <dd>
          <a href="https://github.com/alattalatta" rel="noreferrer" target="_blank">github</a>
          <a href="mailto:alattalatta@sorto.me">@sorto.me</a>
        </dd>
      </dl>
    </nav>
  </main>
</Shell>

<style>
  main {
    height: 100vh;
    height: 100dvh;

    display: grid;
    grid-template-columns: minmax(1rem, 1fr) [main-start] minmax(auto, 768px) [main-end] minmax(1rem, 1fr);
    grid-template-rows:
      minmax(1rem, 1fr)
      [splash-start] auto [splash-end]
      2rem
      [nav-start] auto [nav-end]
      minmax(1rem, 1fr);
  }

  figure {
    grid-area: splash / main;
    margin: 0;
    text-align: right;
  }

  nav {
    grid-area: nav / main;
  }

  dl {
    margin: 0;
  }

  dt {
    font-weight: 700;
  }
  dt ~ dt {
    margin-top: 1rem;
  }

  dd {
    width: min-content;

    display: flex;
    flex-direction: column;

    margin: 0;
    white-space: nowrap;
  }

  a {
    font-weight: 700;
    padding: 0.25rem 1rem;
  }
</style>
