.root {
  width: 88px;
  text-align: center;

  &[data-variant='yes'] {
    color: darkgreen;
  }

  &[data-variant='no'] {
    background: rgb(255, 241, 241);
    color: maroon;
  }

  &[data-variant='partial'] {
    background: rgb(255, 243, 210);
    color: rgb(93, 68, 6);
  }

  &[data-variant='unknown'] {
    color: gray;
  }
}

.cell {
  width: 100%;
  background: none;
  border: none;
  color: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  font: inherit;
  padding: 1em;
}
