---
import type { BrowserName, Identifier } from '@mdn/browser-compat-data'

import CompatTable from './CompatTable'

type MaybeArray<T> = T | T[]

type Props = {
  data: MaybeArray<{ data: Identifier; key: string }> | null
}

const { data } = Astro.props
const bcd = Array.isArray(data) ? data : data ? [data] : null

const desktopBrowsers: [BrowserName, string][] = [
  ['safari', 'Safari'],
  ['chrome', 'Chrome'],
  ['firefox', 'Firefox'],
]
const mobileBrowsers: [BrowserName, string][] = [
  ['safari_ios', 'Safari'],
  ['webview_ios', 'Safari\nWebView'],
  ['chrome_android', 'Chrome'],
  ['webview_android', 'Android\nWebView'],
  ['firefox_android', 'Firefox'],
  ['samsunginternet_android', 'Samsung\nInternet'],
]
---

{
  bcd
    ? bcd.map((item) => (
        <div>
          <CompatTable bcd={item} className="bcd" client:idle {desktopBrowsers} {mobileBrowsers} />
        </div>
      ))
    : null
}

<style>
  div {
    margin-top: 1em !important;
    overflow: auto hidden;
    padding-bottom: 0.5em;
    position: relative;
  }
</style>

<style is:global lang="scss">
  .bcd.bcd {
    border-collapse: collapse;
    caption-side: bottom;
    font-size: 0.75em;

    th,
    td {
      border: 1px solid var(--primary);
      position: relative;

      &::before,
      &::after {
        content: '';
        mix-blend-mode: multiply;
        inset: 0;
        pointer-events: none;
        position: absolute;
      }
    }

    .sep {
      border-right: 3px double var(--primary);
    }

    // browsers
    thead th {
      font: 1em var(--display);
      padding: 0.5em 0.25em;
      vertical-align: bottom;
    }

    // feature names
    tbody th {
      width: 200px;
      padding: 0.5em 1em;
      text-align: left;
    }

    td {
      font-family: var(--display);
      vertical-align: top;
    }
  }
</style>
