.root.root.root {
  width: 88px;
  background: #fff;
  padding: 0;
  position: relative;
  text-align: center;

  &[data-variant='yes'] {
    color: darkgreen;
  }

  &[data-variant='no'] {
    background: rgb(255, 241, 241);
    color: maroon;
  }

  &[data-variant='partial'] {
    background: rgb(255, 243, 210);
    color: rgb(93, 68, 6);
  }

  &[data-variant='unknown'] {
    color: gray;
  }

  &:hover::before {
    background: rgb(211, 240, 255);
  }

  &[data-open='true'] {
    box-shadow: inset 0 -5px 0 -1px var(--primary);
  }

  &[data-hasdetail='true']::after {
    border: 8px solid rgb(246, 175, 52);
    border-right-color: #fff;
    border-bottom-color: #fff;
    content: '';
    height: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 0;
  }
}

.cell {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  font: inherit;
  padding: 1em;
}
