.root {
  display: flex;
  inset: 0;
  position: absolute;
}

.frame {
  background: none;
  border: none;
  display: block;
  position: relative;
  transition: opacity 0.25s ease-out;
  width: 100%;
  z-index: 1;

  &[data-loading='true'] {
    opacity: 0;
  }

  &[data-loading='false'] {
    opacity: 1;
  }
}
