---
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
import Article from 'components/Article.astro'
import Footer from 'components/Footer.astro'
import Nav from 'components/Nav.astro'
import ContentGrid from 'components/ContentGrid'
import Shell from 'layouts/Shell.astro'

export const getStaticPaths = (async () => {
  return (await getCollection('posts')).map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}) satisfies GetStaticPaths

const { entry } = Astro.props

const posts = [...(await getCollection('posts'))].reverse()
---

<Shell description={entry.data.description} title={entry.data.title}>
  <ContentGrid client:load>
    <Nav
      links={[
        ['library', [['k-popo', 'https://www.npmjs.com/package/k-popo']]],
        ['experiments', [['dialog98', 'https://dialog98.sorto.me/']]],
        [
          'blog',
          [
            ...posts.map<[string, string]>((post) => [post.data.titleShort || post.data.title, `/posts/${post.slug}`]),
            ['(...more)', '/posts'],
          ],
        ],
        ['docs', [['Web', '/docs/Web']]],
        [
          'contact',
          [
            ['github', 'https://github.com/alattalatta'],
            ['@sorto.me', 'mailto:alattalatta@sorto.me'],
          ],
        ],
      ]}
      slot="nav"
    />
    <main>
      <Article post={entry} />
    </main>
    <Footer slot="footer" />
  </ContentGrid>
</Shell>
