---
import { getCollection } from 'astro:content'
import ArticleCard from 'components/ArticleCard.astro'
import ContentGrid from 'components/ContentGrid'
import Footer from 'components/Footer.astro'
import MainNav from 'components/MainNav.astro'
import Shell from 'layouts/Shell.astro'

const posts = [...(await getCollection('posts'))].reverse()
---

<Shell canonicalPath="posts" title="Blog">
  <ContentGrid client:load>
    <MainNav
      links={[
        ['library', [['k-popo', 'https://www.npmjs.com/package/k-popo']]],
        ['experiments', [['dialog98', 'https://dialog98.sorto.me/']]],
        [
          'blog',
          [
            ...posts.map<[string, string]>((post) => [post.data.titleShort || post.data.title, `/posts/${post.slug}`]),
            // ['(...more)', '/posts'],
          ],
        ],
        ['docs', [], '/docs'],
        [
          'contact',
          [
            ['github', 'https://github.com/alattalatta'],
            ['@sorto.me', 'mailto:alattalatta@sorto.me'],
          ],
        ],
      ]}
      slot="header"
    />
    <main>
      {posts.map((post) => <ArticleCard post={post} />)}
    </main>
    <Footer slot="footer" />
  </ContentGrid>
</Shell>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1.5rem 4rem;
  }
</style>
