.wrap {
  :global(.gsc-control-cse) {
    font-family: var(--fonts-sans);
    margin-top: 24px;
    padding-right: 0;
    padding-left: 0;

    :global(.gsc-result) + :global(.gsc-result) {
      margin-top: 16px;
    }

    :global(.gs-title)[class],
    :global(.gs-title)[class] b {
      font-size: 18px;
    }

    :global(.gsc-url-top) {
      margin-top: 4px;
    }

    :global(.gsc-table-result) {
      font-family: var(--fonts-sans);
      font-size: 16px;
      line-height: 1.75;
      margin-top: 8px;
    }
  }
}
