<div class="root">
  <header class="header">
    <slot name="nav" />
  </header>
  <div class="body">
    <div class="top"></div>
    <slot />
    <slot name="footer" />
  </div>
</div>

<style>
  .root {
    --tb-row-height: 9rem;

    min-height: 100dvh;

    display: grid;
    grid-template-columns: [nav] 20rem [body] 1fr;
  }

  .header {
    height: calc(100% - var(--tb-row-height));
    grid-column: nav;
    position: relative;
  }

  .body {
    border-left: 1px solid currentColor;
    display: grid;
    grid-column: body;
  }

  .top {
    height: var(--tb-row-height);
    border-bottom: 1px solid currentColor;
  }
</style>
