<div>
  <slot />
</div>

<style>
  div {
    height: 100vh;
    height: 100dvh;

    display: grid;
    gap: 2rem;
    grid-template-columns:
      [full-start side] 20rem
      [main] minmax(auto, 48rem)
      auto
      [full-end];
    grid-template-rows:
      [nav] 5rem
      [content] auto
      [footer];
  }
</style>
