@import 'https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Gothic:wght@400;700&display=swap';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

body {
  margin: 0;
}

code, pre, output {
  font-family: 'Nanum Gothic Mono', '나눔고딕코딩', monospace;
}