---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js'

type Props = {
  components?: Record<string, unknown>
  content: AstroComponentFactory
} & Record<string, unknown>

const { content: Content, ...props } = Astro.props
---

<div class="body">
  <Content {...props} />
</div>

<style lang="scss">
  .body {
    font-family: var(--serif);
    font-size: 1.2em;
    line-height: 1.5;
    padding: 0 3rem 3rem;

    @media (max-width: 1088px) {
      font-size: 1em;
      line-height: 1.8;
      padding: 0 1rem 3rem;
    }
  }

  @keyframes blink {
    0%,
    55% {
      background: rgb(146, 252, 234);
    }
    100% {
      background: transparent;
    }
  }
  .body :global(:target) {
    animation: blink 2s ease;
  }

  .body :global(a[target='_blank'])::after {
    content: '⧉' / ' (새 탭에서 열기)';
    display: inline-block;
    font-size: 0.75em;
    margin-right: 0.125em;
    vertical-align: super;
  }

  .body :global(blockquote) {
    border: 1px solid var(--primary);
    border-left-width: 0;
    border-right-width: 0;
    margin: 2em;
    padding: 1em 0 0.5em;
    position: relative;

    @media (max-width: 640px) {
      margin: 2em 0;
    }
  }
  .body :global(blockquote cite) {
    font-size: 0.75em;
    font-style: normal;
  }

  .body :global(.notebox) {
    margin: 1em 0;
    padding: 1em;
    position: relative;
  }
  .body :global(.notebox-note) {
    background: rgb(255, 252, 228);
    border: 1px solid rgb(240, 192, 0);

    &::before {
      content: '참고';
      display: block;
      font-family: var(--display);
      font-size: 0.75em;
      font-weight: 700;
      margin-bottom: 1em;
      opacity: 0.76;
    }
  }
  .body :global(.notebox-warn) {
    background: rgb(255, 235, 232);
    border: 1px solid rgb(240, 14, 14);

    &::before {
      content: '경고';
      display: block;
      font-family: var(--display);
      font-size: 0.75em;
      font-weight: 700;
      margin-bottom: 1em;
      opacity: 0.76;
    }
  }

  .body :global(code:not(pre > code)) {
    background: #9f9f9f27;
    border-radius: 4px;
    display: inline-block;
    padding: 0 0.15em;
    text-decoration: inherit;
  }

  .body :global(dt) {
    font-weight: 700;
  }
  .body :global(* + dt) {
    margin-top: 1em;
  }
  .body :global(dd) {
    margin-top: 0.25em;
    margin-left: 1.25em;
  }

  .body :global(figure) {
    align-items: center;
    border: 1px solid var(--primary);
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    padding: 0.5em;
  }
  .body :global(figcaption) {
    font-size: 0.75em;
  }

  .body :global(h3) {
    font-size: 1.5em;
    margin-top: 1.5em;
    opacity: 0.88;
  }
  .body :global(h4) {
    font-size: 1.25em;
    margin: 1.25em 0 0.75em;
    opacity: 0.88;
  }
  .body :global(h5) {
    font-size: 1.1em;
    margin: 1.5em 0 0.75em;
  }
  .body :global(h6) {
    background: var(--primary);
    color: var(--brand);
    font-size: 0.85em;
    margin: 2em 0 1em;
    padding-left: 0.5em;
  }

  .body :global(hr) {
    border-top: 1px solid var(--primary);
    margin: 3em 4em;
    overflow: visible;
    position: relative;
    &::after {
      background: #fff;
      content: '///';
      font-family: var(--display);
      font-weight: 700;
      inset: 50% auto auto 50%;
      margin: 0 auto;
      padding: 0 0.5em 2px;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

  .body :global(img) {
    max-width: 100%;
  }

  .body :global(mark) {
    background: #ffca8780;
  }

  .body :global(math) {
    margin: 1em 0;
  }

  .body :global(p) {
    margin: 0;
  }
  .body :global(* + p) {
    margin-top: 1em;
  }

  .body :global(pre) {
    background: #fff !important;
    border: 1px solid #000;
    padding: 1em;
  }
  .body :global(.codewrap) {
    margin: 1em 0;
  }
  .body :global(.codewrap[data-hidden]) {
    display: none;
  }
  .body :global(.codewrap::before) {
    font: 0.75em var(--display);
    margin-left: 1em;
  }
  .body :global(.codewrap pre) {
    margin: 0;
  }
  .body :global(.codewrap[data-variant='good']::before) {
    content: 'good';
    color: rgb(17, 188, 88);
  }
  .body :global(.codewrap[data-variant='good'] pre) {
    outline: 2px solid rgb(17, 188, 88);
  }
  .body :global(.codewrap[data-variant='bad']::before) {
    content: 'bad';
    color: rgb(241, 73, 48);
  }
  .body :global(.codewrap[data-variant='bad'] pre) {
    outline: 2px solid rgb(241, 73, 48);
  }

  .body :global(semantics) {
    width: fit-content;
    margin: auto;
  }

  .body :global(table) {
    border-collapse: collapse;
    width: 100%;
  }
  .body :global(* + table, * + .table-wrap) {
    margin-top: 1em;
  }
  .body :global(.table-wrap) {
    width: 100%;
    overflow-x: auto;
  }
  .body :global(.table-wrap > table) {
    min-width: 720px;
  }

  .body :global(:where(th, td)) {
    border: 1px solid var(--primary);
    padding: 0.5em;
  }

  .body :global(:where(ol, ul)) {
    margin-bottom: 0.5em;
    padding-left: 1.5em;

    @media (max-width: 1088px) {
      padding-left: 1em;
    }
  }
  .body :global(li + li) {
    margin-top: 0.25em;
  }

  .body :global(.footnotes) {
    border-top: 1px solid var(--primary);
    margin-top: 1em;
  }
  .body :global(.data-footnote-backref) {
    font-size: 0.75em;
  }
</style>
