.pinButton {
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  font-size: 1em;
  height: 44px;
  justify-content: center;
  padding: 0;
  width: 44px;

  &:hover {
    background: #fcfcfc;
  }
}
