---
import NavLinkGroup, { type LinkGroup } from './NavLinkGroup.astro'

interface Props {
  links: readonly [label: string, readonly LinkGroup[], href?: string][]
}

const { links } = Astro.props
---

<div class="root">
  <div class="links">
    <slot name="toc" />
    <a class="top" href="#">맨 위로 이동 ↑</a>
    <hr />
    <section aria-labelledby="mainnav-heading">
      <h2 id="mainnav-heading">주요 링크</h2>
      <search>
        <form action="/search">
          <label class="no-screen" for="search-input">검색어</label>
          <input id="search-input" name="q" placeholder="typescript" type="search" />
          <button type="submit"> 검색 </button>
        </form>
      </search>
      <dl>
        {
          links.map(([label, children, href]) => (
            <>
              <dt>{href ? <a href={href}>{label}</a> : label}</dt>
              <dd>
                <ul>
                  {children.map((group) => (
                    <NavLinkGroup {group} />
                  ))}
                </ul>
              </dd>
            </>
          ))
        }
      </dl>
    </section>
    {Astro.slots.has('default') && <hr />}
    <slot />
  </div>
</div>

<style lang="scss">
  .root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .logo {
    align-items: center;
    height: var(--starry-height);
    background: var(--primary);
    border-bottom: 1px solid currentColor;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    position: relative;
  }

  img {
    height: 3rem;
    display: block;
  }

  .links {
    max-height: calc(100vh - var(--starry-height));
    font-family: var(--display);
    grid-row: body / span 2;
    overflow: auto;
    padding: 1.5rem;
    scrollbar-width: thin;
  }

  h2 {
    font-size: 18px;
    margin: 0;
  }

  search {
    margin-top: 16px;
  }

  form {
    display: flex;
    gap: 8px;
  }

  input {
    border: 0;
    border-bottom: 1px solid var(--primary);
    display: block;
    font-family: inherit;
    font-size: 1em;
    padding: 0.5em 0.25em;
    width: 100%;

    &:hover {
      background: #fcfcfc;
    }
  }

  button[type='submit'] {
    background: 0;
    border: 1px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
    flex-shrink: 0;
    width: 4em;
  }

  dl {
    display: flex;
    flex-direction: column;
    margin: 1.5em 0 0;
  }
  dt {
    font-weight: 400;
  }
  dd {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0.5em 0;
    padding-left: 1em;

    & > :global(li + li) {
      margin-top: 0.5em;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid #000;
    margin: 1.5rem 0;
  }

  .top {
    display: inline-block;
    font-family: var(--display);
    padding: 0 1rem;
  }
</style>
