---
export type LinkGroup = readonly [label: string, href?: string, groups?: readonly LinkGroup[]]

interface Props {
  group: LinkGroup
}

const { group: [label, href, children] } = Astro.props
const internal = href?.startsWith('/') ?? true
---

<li>
  <a {href} {...internal ? {} : { rel: 'noopener', target: '_blank' }}>{label}</a>
  {children && (
    <ul>
      {children.map((group) => <Astro.self {group} />)}
    </ul>
  )}
</li>

<style lang="scss">
  a {
    text-transform: lowercase;
  }

  ul {
    list-style: none;
    padding-left: 1em;

    & > :global(li) {
      margin-top: 0.25em;
    }
  }
</style>