* {
  box-sizing: border-box;
  text-underline-position: under;
}

html {
  color: var(--colors-base10);
  font-family: 'Nanum Gothic Coding', '나눔고딕코딩', monospace;
}

body {
  margin: 0;
}
body.o {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ul,
ol {
  margin: 0;
}

a {
  color: var(--colors-linkblueLight);
}
a:hover {
  color: var(--colors-accentB);
}

button {
  font-family: inherit;
}

code {
  font-family: 'Nanum Gothic Coding', monospace;
}

ul,
ol {
  padding-left: 30px;
}
