---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

import ContentBody from './ContentBody.astro'

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props
const { Content } = await post.render()
---

<article aria-labelledby="title">
  <header>
    <Image alt="" class="thumbnail" src={post.data.image} />
    <hgroup>
      <h1 id={post.slug}>{post.data.title}</h1>
      <time>{post.slug.split('--')[0]}</time>
    </hgroup>
  </header>
  <ContentBody content={Content} />
</article>

<style>
  article {
    max-width: 1120px;
    grid-column: main / full-end;
    grid-row: nav / footer;
  }

  .thumbnail {
    aspect-ratio: 4 / 1;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  hgroup {
    display: flex;
    justify-content: flex-end;
  }

  h1 {
    font: 400 1.25em var(--display);
    font-weight: 400;
    margin: 0;
    padding: 0 1em;
  }

  time {
    font:
      2em 'Libre Barcode 128 Text',
      sans-serif;
    flex-shrink: 0;
  }
</style>
