---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js'

type Props = {
  components?: Record<string, unknown>
  content: AstroComponentFactory
} & Record<string, unknown>

const { content: Content, ...props } = Astro.props
---

<div class="body">
  <Content {...props} components={{ ...props.components, h1: 'h2', h2: 'h3', h3: 'h4', h4: 'h5' }} />
</div>

<style lang="scss">
  .body {
    font-family: var(--serif);
    font-size: 1.2em;
    line-height: 1.5;
    padding: 2rem 3rem 3rem;

    @media (max-width: 1088px) {
      padding: 2rem 1rem 3rem;
    }
  }

  .body :global(blockquote) {
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    margin: 2em 1em;
    padding: 1em;
    position: relative;
  }
  .body :global(blockquote cite) {
    font-size: 0.75em;
    font-style: normal;
  }

  .body :global(code:not(pre > code)) {
    background: #9f9f9f27;
    border-radius: 4px;
    display: inline-block;
    padding: 0 0.15em;
    text-decoration: inherit;
  }

  .body :global(figure) {
    margin: 1em 0;
  }

  .body :global(h2) {
    font-size: 1.5em;
  }
  .body :global(h3) {
    font-size: 1.25em;
  }
  .body :global(h4) {
    font-size: 1em;
  }

  .body :global(p) {
    margin: 0;
  }
  .body :global(* + p) {
    margin-top: 1em;
  }

  .body :global(pre) {
    background: #fff !important;
    border: 1px solid #000;
    padding: 1em;
  }
  .body :global(.codewrap) {
    margin: 1em 0;
  }
  .body :global(.codewrap[data-hidden]) {
    display: none;
  }
  .body :global(.codewrap::before) {
    font: 0.75em var(--display);
    margin-left: 1em;
  }
  .body :global(.codewrap pre) {
    margin: 0;
  }
  .body :global(.codewrap[data-variant='good']::before) {
    content: 'good';
    color: rgb(17, 188, 88);
  }
  .body :global(.codewrap[data-variant='good'] pre) {
    outline: 2px solid rgb(17, 188, 88);
  }
  .body :global(.codewrap[data-variant='bad']::before) {
    content: 'bad';
    color: rgb(241, 73, 48);
  }
  .body :global(.codewrap[data-variant='bad'] pre) {
    outline: 2px solid rgb(241, 73, 48);
  }

  .body :global(.notebox) {
    margin: 1em 0;
    padding: 1em;
    position: relative;
  }
  .body :global(.notebox-note) {
    background: lemonchiffon;
    border-left: 4px solid rgb(240, 192, 0);
  }
  .body :global(.notebox-warn) {
    background: rgb(255, 204, 198);
    border-left: 4px solid rgb(240, 14, 14);
  }
</style>
