<div class="root">
  <div class="logo">
    <a href="/">
      <img alt="ALATTA" src="/logo-small.svg" />
    </a>
  </div>
  <div class="body">
    <slot />
    <img alt="" class="cc" src="/cc.svg" />
    <small class="license">
      <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.ko" rel="noreferrer" target="_blank">CC BY-SA 4.0</a>
      unless otherwise noted. See
      <a href="https://github.com/alattalatta/sorto.me/blob/main/LICENSE.md" rel="noreferrer" target="_blank">LICENSE</a
      >.
    </small>
  </div>
</div>

<style lang="scss">
  .root {
    height: 9rem;
    border-top: 1px solid var(--primary);
    display: flex;
    gap: 4rem;
    padding: 2rem 4rem;

    @media (max-width: 512px) {
      height: auto;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem;
    }
  }

  .logo {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: 512px) {
      justify-content: flex-start;
    }
  }
  .logo img {
    height: 3rem;
    display: block;
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .cc {
    height: 1rem;
    display: block;
  }
  * + .cc {
    margin-top: 0.5rem;
  }

  .license {
    display: block;
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }
</style>
